
body{
    padding: 0;
    margin:0;
    background: #ddd;
    
}
.row{
    background: #ddd;
    height: auto;
}

.store-container{
    
    height: auto;
    
}

.container{
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
   
}

.category-buttons{
    font-family: sans-serif;
    font-size: large;
    color: #666;
    border:0;
    margin: 0 1%;
}

.fa-star,
.fa-star-half{
    color: yellowgreen;
    padding: 3% 0;
}

#cart_count{
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
}

.shopping-cart{
    padding: 3% 0;
}

